body,
html {
  height: 100%;
}

body {
  background-color: black;
  color: white;
}

hr {
  border: 1px solid white;
}

#map {
  height: 300px;
  width: 100%;
}

#map2 {
  height: 300px;
  width: 100%;
}

.bg {
  /* The image used */
  background-image: url("beach-min.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile {
  float: left;
  width: 10%;
  height: auto;
  margin: 3%;
}

table td {
  color: white;
}

table td a {
  color: white;
}

.alink {
  color: white;
}

.icon {
  margin: 3%;
}